*{
  padding: 0;
  margin: 0;
}

/* 手機板 top-------------------------------------------------------------- */
.sm-top{
  position: fixed;
  background: white;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  line-height: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  z-index: 3;
}

.sm-top span{
  /* padding-left: 5px; */
  font-size: 23px;

}

.sm-top a{
  display: block;
}

.top-menu{
  width: 40px;
  height: 40px;
  padding-left: 15px;
}

.top-menu .menu-icon{
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-menu .menu-icon::after{
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background: black;
  position: absolute;
  top: -6px;
  transform: translateY(-50%);
}
.top-menu .menu-icon::before{
  content: '';
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background: black;
  position: absolute;
  top: 8px;
}
/* 隱藏 menu -------------------------------------------------------- */
.menu{
  top: 50px;
  width: 70%;
  height: 100vh;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position:fixed;
  z-index: 2;
  left: 0%;

}
.menu .box{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.menu a{
  font-family: '微軟正黑體';
  color: gray;
  text-decoration: none;
  font-size: 14px;
  padding:15px 15px 15px 30px;
  display: block;
  transition: 0.5s;
  /* background: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a:hover{
  background: rgb(240,75,90);
  color: white;
}

.menu .box span{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  background:rgba(0,0,0,0.3);
  text-align: center;
  transition: 0.7s;
}

.menu .box span:hover{
  background: white;
  color: gray;
}

/* 內容01-------------------------------------------------------- */
#container01{
  height: 60vh;
  box-sizing: border-box;
  position: relative;
  background: url(/images/container01-bg.jpg) no-repeat center/cover;
}



.top{
  position: absolute;
  width: 100%;
  height: 200px;
  line-height: 200px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.top a{
  color: black;
  text-decoration: none;
}


.t-left a{
  font-size: 45px;
}

.t-left i{
  color: rgb(240,75,90);
  padding: 0 10px 0 0;
}

.t-right a{
  padding:  0 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.5s;
  display: none;
}

.t-right a:hover{
  color: rgb(240,75,90);
}

/* 內容 fb 等 icon */
.icons{
  position: absolute;
  display: flex;
  top: 150px;
}

.icon-line{
  content: '';
  position: absolute;
  width: 280px;
  border: 1px solid rgb(195, 195, 195);
  top: 172px;
  transform: translateY(-50%);
}

.icons a{
  width: 40px;
  height: 40px;
  border: 3px solid black;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  background:rgb(236,242,238);
}

.icons a:hover{
  background: black;
  color: white;
  transition: 0.5s;
}

/* 內容文字區 */
#container01 .contant{
  position: absolute;
  top: 45%;
  left: 5%;
}
.contant .text-1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 80%;
}

.contant .text-2{
  padding: 30px 0;
  font-family: '微軟正黑體';
  color: gray;
}

.contant .text-3{
  width: 170px;
  height: 60px;
  background: rgb(240,75,90);
  text-align: center;
}

.contant .text-3:hover{
  background: rgb(255,55,70);
}

.contant .text-3 a{
  line-height: 60px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 30px;
}

/* 內容02-------------------------------------------------------- */

#container02{
  height: 90vh;
  box-sizing: border-box;
  position: relative;
  background: rgb(55,50,70);
}

#container02 .box{
  padding: 30px 20px 0 20px;
  height: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  min-width: 415px;
  position: relative;
}

#container02 .box h1{
  color: white;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

#container02 .box p{
  color:rgb(170, 170, 170);
  margin-bottom: 30px;
  font-family: "微軟正黑體";
  line-height: 1.5;
}

#container02 .box .read-box{
  margin-top: 30px;
  width: 150px;
  height: 55px;
  background: rgb(240,75,90);
  text-align: center;
  display: block;
  line-height: 55px;
}

#container02 .box .read-box:hover{
  background: rgb(255,55,70);
  transition: 0.5s;
}

#container02 .box .read-box a{
  color: white;
  display: block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

#wen{
  height: 100%;
}

#wen .line{
  width: 250px;
  border: 0.1px solid rgb(170, 170, 170) ;
  position: absolute;
  top: 688px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination{
  position: absolute;
  top: 680px;
}

.swiper-pagination .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  border: 2px solid white;
  opacity: 1;
  --swiper-theme-color: white;
}

/* .swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, rgb(55,50,70));
} */

/* 內容03-------------------------------------------------------- */

#container03{
  background: url(../images/container02-bg.png) no-repeat center/cover;
  width: 100%;
  position: relative;
  padding: 50px 0 ;
}

#container03 .box{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 300px;
}

#container03 .box h1{
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-shadow: 0 0 5px white;
}

#container03 .box p{
  margin-bottom: 30px;
  font-family: "微軟正黑體";
  line-height: 1.5;
  text-shadow: 0 0 5px white;
}

#container03 .box .read-box{
  margin-top: 100px;
  width: 150px;
  height: 55px;
  background: rgb(240,75,90);
  text-align: center;
  display: block;
  line-height: 55px;
}

#container03 .box .read-box:hover{
  background: rgb(255,55,70);
  transition: 0.5s;
}

#container03 .box .read-box a{
  color: white;
  display: block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

/* 內容05-------------------------------------------------------- */
#container05{
  width: 100%;
  position: relative;
  padding: 50px 0 ;
  text-align: center;
}


#container05  h1{
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#container05 .box{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 300px;
}

#container05  p{
  margin-bottom: 30px;
  font-family: "微軟正黑體";
  line-height: 1.5;
  color: gray;
}

#container05  .read-box{
  margin-top: 100px;
  width: 150px;
  height: 55px;
  background: rgb(240,75,90);
  text-align: center;
  display: block;
  line-height: 55px;
  margin: auto;
}

#container05  .read-box:hover{
  background: rgb(255,55,70);
  transition: 0.5s;
}

#container05 .read-box a{
  color: white;
  display: block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

/* 內容05-------------------------------------------------------- */
#container06{
  width: 100%;
  position: relative;
  padding: 50px 0 ;
  text-align: center;
}

.box{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 300px;
}


/* 505 以上-------------------------------------------- */
@media (min-width:505px) {
  .top{
    display: flex;
    justify-content: space-around;
    padding: 0 10px ;
    box-sizing: border-box;
  }
  .t-right a{
    display: inline-block;
    padding:  0 10px;
  }
  #container01{
    height: 100vh;
  }
}

@media (min-width:768px) {
  
}
